@using EN.Client.Models
@inject IJSRuntime JS
@inject IBingMapAutoSuggestService BingMapAutoSuggestService

<h1>@_status</h1>
<br>
<br>
    <div class="input-group mb-3 " >
        <input class="form-control" @bind-value="_query"/>
        <button type="button" @onclick="ClearQuery" class="btn bg-transparent" style="margin-left: -40px; z-index: 100;">
            <i class="bi bi-backspace"></i>
        </button>
        <Button Color="ButtonColor.Primary" @onclick="SearchToBingMapAutoSuggest">Search</Button>
    </div>

<Grid TItem="BingMapAutoSuggestValue" @ref="_bingMapAutoSuggestGrid"
Class="table table-hover table-bordered table-striped"
      DataProvider="BingMapBusinessDataProvider"
      AllowFiltering="false"
      AllowPaging="true"
      AllowSorting="false"
      PageSize="5"
      Responsive="true"
      ItemsPerPageText="5"
      PageSizeSelectorItems="@(new int[] { 5, 10, 15 })"
      PaginationItemsTextFormat="">

    <GridColumn TItem="BingMapAutoSuggestValue" HeaderText="Type" PropertyName="Type" FilterTextboxWidth="80">
        @context.__type
    </GridColumn>
    <GridColumn TItem="BingMapAutoSuggestValue" HeaderText="Name" PropertyName="Name" FilterTextboxWidth="80">
        @context.Name
    </GridColumn>
    <GridColumn TItem="BingMapAutoSuggestValue" HeaderText="Country Region" PropertyName="CountryRegion" FilterTextboxWidth="80">
        @context.Address.CountryRegion
    </GridColumn>
    <GridColumn TItem="BingMapAutoSuggestValue" HeaderText="Locality" PropertyName="Locality" FilterTextboxWidth="100">
        @context.Address.Locality
    </GridColumn>
    <GridColumn TItem="BingMapAutoSuggestValue" HeaderText="Admin District" PropertyName="AdminDistrict" FilterTextboxWidth="50">
        @context.Address.AdminDistrict
    </GridColumn>
    <GridColumn TItem="BingMapAutoSuggestValue" HeaderText="Admin District 2" PropertyName="AdminDistrict2" FilterTextboxWidth="50">
        @context.Address.AdminDistrict2
    </GridColumn>
    <GridColumn TItem="BingMapAutoSuggestValue" HeaderText="Country Region Iso2" PropertyName="CountryRegionIso2" FilterTextboxWidth="120">
        @context.Address.CountryRegionIso2
    </GridColumn>
    <GridColumn TItem="BingMapAutoSuggestValue" HeaderText="Postal Code" PropertyName="PostalCode" FilterTextboxWidth="50">
        @context.Address.PostalCode
    </GridColumn>
    <GridColumn TItem="BingMapAutoSuggestValue" HeaderText="Street Name" PropertyName="Street Name" FilterTextboxWidth="80">
        @context.Address.StreetName
    </GridColumn>
    <GridColumn TItem="BingMapAutoSuggestValue" HeaderText="Neighborhood" PropertyName="Neighborhood" FilterTextboxWidth="80">
        @context.Address.Neighborhood
    </GridColumn>
    <GridColumn TItem="BingMapAutoSuggestValue" HeaderText="Address Line" PropertyName="AddressLine" FilterTextboxWidth="80">
        @context.Address.AddressLine
    </GridColumn>
    <GridColumn TItem="BingMapAutoSuggestValue" HeaderText="HouseNumber" PropertyName="HouseNumber" FilterTextboxWidth="80">
        @context.Address.HouseNumber
    </GridColumn>
    <GridColumn TItem="BingMapAutoSuggestValue" HeaderText="Formatted Address" PropertyName="FormattedAddress" FilterTextboxWidth="80">
        @context.Address.FormattedAddress
    </GridColumn>    
</Grid>

